*.pyc
__pycache__
.git/*
.gitignore
.vscode

# DATA
*/inputs/*
*/outputs/*
*.json
*.jpg
*.png
*.jpeg
*.gif
*.csv
*.xlsx
*.parquet
*.zip
*.txt
*.whl

# MODELS
*/models/*
*.h5
*.t7
*.pth

#NOTEBOOKS
*scratch.ipynb
