[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "==1.0.0"
isort = "==5.6.4"
rope = "==0.19.0"
black = "==21.5b1"
pytest = "==6.2.4"

[packages]
cython = "==0.29.21"
numpy = "==1.19.3"
picamerab = {version = "==1.13b1", platform_release = "== '5.4.83-v7l+'"}
pillow = "==8.0.1"
torch = {path = "/home/pi/wheels/torch-1.6.0a0+b31f58d-cp37-cp37m-linux_armv7l.whl", platform_release = "== '5.4.83-v7l+'"}
torchvision = {path = "/home/pi/wheels/torchvision-0.7.0a0+78ed10c-cp37-cp37m-linux_armv7l.whl", platform_release = "== '5.4.83-v7l+'"}
scikit-build = "==0.11.1"
pip = "*"
opencv-contrib-python = {file = "https://www.piwheels.org/simple/opencv-contrib-python/opencv_contrib_python-4.1.0.25-cp37-cp37m-linux_armv7l.whl", platform_release = "== '5.4.83-v7l+'"}
tqdm = "==4.51.0"
python-vlc = "==3.0.11115"
spotipy = "*"
facenet-pytorch = "==2.5.0"
mmcv = "==1.2.0"
pandas = "==1.1.5"
scikit-learn = "==0.23.2"
scipy = "==1.5.4"

[requires]
python_version = "3.7"
